## Summary

Pandas! Pandas! Pandas!

- 1.Data Structures
     - Series
     - DataFrame


- 2.Basic Data Exploration
     - Missing Values
     - Unique Values & Value Counts
 
 
- 3.Basic Indexing
     - position based & label based
     - iloc
     - loc
     - ix

In [43]:
import numpy as np
import pandas as pd

## Data Structures

### Series

- Seriesis a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.).The axis labels are collectively referred to as the index. The basic method to create a Series is to call: ser = pd.Series(data, index=idx)

In [44]:
ser1 = pd.Series([1,2,5,7,9])
ser1

0    1
1    2
2    5
3    7
4    9
dtype: int64

In [45]:
ser2 = pd.Series(np.arange(5), index = ['a','b','c','d','e'])
ser2

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [46]:
dic1 = {'M':1, 'L':2,'XL':3}
ser3 = pd.Series(dic1)
ser3

L     2
M     1
XL    3
dtype: int64

- Series is ndarray-like

In [47]:
ser1[0]

1

In [48]:
ser1[:3]

0    1
1    2
2    5
dtype: int64

In [49]:
np.sqrt(ser2)

a    0.000000
b    1.000000
c    1.414214
d    1.732051
e    2.000000
dtype: float64

- Series is dict-like

In [50]:
ser3['M']

1

In [51]:
pd.Series(['M','L']).map(ser3)

0    1
1    2
dtype: int64

### DataFrame

- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table. The basic method to create a DataFrame is to call:df=pd.DataFrame(data, index = idx, columns = col)

In [52]:
df1 = pd.DataFrame(np.arange(12).reshape(6,2), columns = ['age','weight'])
df1

   age  weight
0    0       1
1    2       3
2    4       5
3    6       7
4    8       9
5   10      11

In [53]:
tips = pd.read_csv('N3_tips.csv')
tips.head()

   total_bill   tip     sex smoker   day    time  size
0       12.90  1.10  Female    Yes   Sat  Dinner   2.0
1       11.87  1.63  Female     No  Thur   Lunch   2.0
2        3.07  1.00  Female    Yes   Sat  Dinner   1.0
3       24.08  2.92  Female     No  Thur   Lunch   4.0
4       18.71  4.00    Male    Yes  Thur   Lunch   3.0

## Basic Data Exploration

### Missing Values

- pandas uses the floating point value NaN(Not a Number) to represent missing data in both floating as well as in non-floating point arrays. Python native None is also treated as NA

In [54]:
tips_na = tips[10:20]
tips_na

    total_bill   tip     sex smoker  day    time  size
10       18.29  3.76    Male    Yes  Sat  Dinner   4.0
11        8.77  2.00    Male     No  Sun  Dinner   2.0
12       35.26  5.00  Female     No  Sun  Dinner   4.0
13         NaN  2.00    Male     No  Sun  Dinner   2.0
14       12.46  1.50    Male     No  Fri  Dinner   2.0
15       16.82  4.00    Male    Yes  Sun  Dinner   2.0
16         NaN   NaN    Male     No  NaN  Dinner   NaN
17       14.00  3.00    Male     No  Sat  Dinner   2.0
18       10.09  2.00  Female    Yes  Fri   Lunch   2.0
19       17.07  3.00  Female     No  Sat  Dinner   3.0

- isnull() notnull()

In [55]:
tips_na['total_bill'].isnull()

10    False
11    False
12    False
13     True
14    False
15    False
16     True
17    False
18    False
19    False
Name: total_bill, dtype: bool

In [56]:
tips_na['total_bill'].isnull().sum()

2

In [57]:
tips_na.isnull()

   total_bill    tip    sex smoker    day   time   size
10      False  False  False  False  False  False  False
11      False  False  False  False  False  False  False
12      False  False  False  False  False  False  False
13       True  False  False  False  False  False  False
14      False  False  False  False  False  False  False
15      False  False  False  False  False  False  False
16       True   True  False  False   True  False   True
17      False  False  False  False  False  False  False
18      False  False  False  False  False  False  False
19      False  False  False  False  False  False  False

In [58]:
tips_na.isnull().sum()

total_bill    2
tip           1
sex           0
smoker        0
day           1
time          0
size          1
dtype: int64

In [59]:
tips_na.isnull().any()

total_bill     True
tip            True
sex           False
smoker        False
day            True
time          False
size           True
dtype: bool

In [60]:
tips_na.isnull().any(axis = 1)

10    False
11    False
12    False
13     True
14    False
15    False
16     True
17    False
18    False
19    False
dtype: bool

In [61]:
tips_na.isnull().any(axis = 1).sum()

2

- dropna()

In [62]:
tips_dropna = tips_na.dropna()
tips_dropna

    total_bill   tip     sex smoker  day    time  size
10       18.29  3.76    Male    Yes  Sat  Dinner   4.0
11        8.77  2.00    Male     No  Sun  Dinner   2.0
12       35.26  5.00  Female     No  Sun  Dinner   4.0
14       12.46  1.50    Male     No  Fri  Dinner   2.0
15       16.82  4.00    Male    Yes  Sun  Dinner   2.0
17       14.00  3.00    Male     No  Sat  Dinner   2.0
18       10.09  2.00  Female    Yes  Fri   Lunch   2.0
19       17.07  3.00  Female     No  Sat  Dinner   3.0

In [63]:
tips_na.dropna(subset = ['sex'])

    total_bill   tip     sex smoker  day    time  size
10       18.29  3.76    Male    Yes  Sat  Dinner   4.0
11        8.77  2.00    Male     No  Sun  Dinner   2.0
12       35.26  5.00  Female     No  Sun  Dinner   4.0
13         NaN  2.00    Male     No  Sun  Dinner   2.0
14       12.46  1.50    Male     No  Fri  Dinner   2.0
15       16.82  4.00    Male    Yes  Sun  Dinner   2.0
16         NaN   NaN    Male     No  NaN  Dinner   NaN
17       14.00  3.00    Male     No  Sat  Dinner   2.0
18       10.09  2.00  Female    Yes  Fri   Lunch   2.0
19       17.07  3.00  Female     No  Sat  Dinner   3.0

- fillna()

In [64]:
tips_fillna1 = tips_na.fillna(0)
tips_fillna1

    total_bill   tip     sex smoker  day    time  size
10       18.29  3.76    Male    Yes  Sat  Dinner   4.0
11        8.77  2.00    Male     No  Sun  Dinner   2.0
12       35.26  5.00  Female     No  Sun  Dinner   4.0
13        0.00  2.00    Male     No  Sun  Dinner   2.0
14       12.46  1.50    Male     No  Fri  Dinner   2.0
15       16.82  4.00    Male    Yes  Sun  Dinner   2.0
16        0.00  0.00    Male     No    0  Dinner   0.0
17       14.00  3.00    Male     No  Sat  Dinner   2.0
18       10.09  2.00  Female    Yes  Fri   Lunch   2.0
19       17.07  3.00  Female     No  Sat  Dinner   3.0

In [65]:
tips_fillna2= tips_na.fillna({'total_bill':15, 'tip':3, 'size':2})
tips_fillna2

    total_bill   tip     sex smoker  day    time  size
10       18.29  3.76    Male    Yes  Sat  Dinner   4.0
11        8.77  2.00    Male     No  Sun  Dinner   2.0
12       35.26  5.00  Female     No  Sun  Dinner   4.0
13       15.00  2.00    Male     No  Sun  Dinner   2.0
14       12.46  1.50    Male     No  Fri  Dinner   2.0
15       16.82  4.00    Male    Yes  Sun  Dinner   2.0
16       15.00  3.00    Male     No  NaN  Dinner   2.0
17       14.00  3.00    Male     No  Sat  Dinner   2.0
18       10.09  2.00  Female    Yes  Fri   Lunch   2.0
19       17.07  3.00  Female     No  Sat  Dinner   3.0

### Unique Values & Value Counts

- unique()

In [66]:
tips2 = tips.dropna()

In [82]:
tips2['day'].unique()

array(['Sat', 'Thur', 'Sun', 'Fri'], dtype=object)

In [ ]:
tips2['day'].unique

In [68]:
len(tips2['day'].unique())

4

- value_counts()

In [69]:
tips2['day'].value_counts()

Sun     9
Sat     8
Thur    6
Fri     2
Name: day, dtype: int64

## Basic Indexing

- indexing in pandas has two types: position based & label based

### .iloc 
- Mostly position based

In [70]:
tips_idx = tips[:5]
tips_idx

   total_bill   tip     sex smoker   day    time  size
0       12.90  1.10  Female    Yes   Sat  Dinner   2.0
1       11.87  1.63  Female     No  Thur   Lunch   2.0
2        3.07  1.00  Female    Yes   Sat  Dinner   1.0
3       24.08  2.92  Female     No  Thur   Lunch   4.0
4       18.71  4.00    Male    Yes  Thur   Lunch   3.0

In [71]:
tips_idx.iloc[0,3]

'Yes'

In [72]:
tips_idx.iloc[:3, 1:]

    tip     sex smoker   day    time  size
0  1.10  Female    Yes   Sat  Dinner   2.0
1  1.63  Female     No  Thur   Lunch   2.0
2  1.00  Female    Yes   Sat  Dinner   1.0

### loc
- Mostly label based

In [73]:
tips_idx.loc[:3,['tip','sex','smoker']]
### note that contrary to usual python slices, BOTH the start and the stop are included!

    tip     sex smoker
0  1.10  Female    Yes
1  1.63  Female     No
2  1.00  Female    Yes
3  2.92  Female     No

In [74]:
tips_idx2 = tips_idx.set_index('day')
tips_idx2

      total_bill   tip     sex smoker    time  size
day
Sat        12.90  1.10  Female    Yes  Dinner   2.0
Thur       11.87  1.63  Female     No   Lunch   2.0
Sat         3.07  1.00  Female    Yes  Dinner   1.0
Thur       24.08  2.92  Female     No   Lunch   4.0
Thur       18.71  4.00    Male    Yes   Lunch   3.0

In [75]:
tips_idx2.loc['Thur','size']

day
Thur    2.0
Thur    4.0
Thur    3.0
Name: size, dtype: float64

In [76]:
tips_idx2.loc[['Sat'],['total_bill','size']]

     total_bill  size
day
Sat       12.90   2.0
Sat        3.07   1.0

### ix
- .ix supports mixed integer and label based access. It is the most general and will support any of the inputs in .loc and .iloc

In [77]:
tips_idx.ix[:3, 'smoker']

0    Yes
1     No
2    Yes
3     No
Name: smoker, dtype: object

In [84]:
tips_idx.ix[[0,2,4], ['sex','smoker']]

      sex smoker
0  Female    Yes
2  Female    Yes
4    Male    Yes

In [79]:
tips_idx.ix[tips_idx['smoker'] == 'Yes', ['total_bill', 'tip', 'time']]

   total_bill  tip    time
0       12.90  1.1  Dinner
2        3.07  1.0  Dinner
4       18.71  4.0   Lunch